<% provide(:title, "What is rVR?") %>
<h1>What is rVR?</h1>
<%= image_tag("What/core.png", :id=> "core", :size=>"1100x558", :align=>"center") %>

<br> <br><br><br><br>

<%= image_tag("What/What is Agile.png", :id=> "agile", :size=>"1100x700", :align=>"center") %>

<br> <br><br><br><br>

<%= image_tag("What/Skills Framework.png", :id=> "skills", :size=>"1100x700", :align=>"center") %>

<br> <br><br><br><br>

<%= image_tag("What/Product Roadmap Execution.png", :id=> "product", :size=>"1100x700", :align=>"center") %>
