<% provide(:title, "Agile Simulation") %>
<h1>Agile Simulation</h1>
<%= image_tag("Simulation/simulation.png", :id=> "core", :size=>"1280x800", :align=>"center") %>

<ul>

  <li><h4>Plays Run: </h4></li>
  <li><a href = "/plays/empathyMap", target = "_blank"> Empathy Map </a></li>
  <li><a href = "/plays/howMightWe", target = "_blank"> How Might We </a></li>
  <li><a href = "/plays/productRoadmap", target = "_blank"> Product Roadmap </a></li>
  <li><a href = "/plays/hypothesisTemplate", target = "_blank"> Hypothesis </a></li>
  <li><a href = "/plays/experimentArtGallery", target = "_blank"> Experiment Art Gallery </a></li>
  <li><a href = "/plays/crazy8", target = "_blank"> Crazy 8's </a></li>
</ul>

<p>For the resources needed for the simulation, please visit the <a href = "/static_pages/resources", target = "_blank"> Engagment Toolkit</p>
