<% provide(:title, "Home") %>
<div class= "center jumbotron">
  <h1>rVR Engagement Resources</h1>
</div>

<table style="width:100%">
  <tr>
    <td><a href = "static_pages/core">Core Values</a></td>
    <td><a href = "static_pages/ws_approach">rV WS Approach Cheat Sheet</td>
    <td>rV Practitioner Enablement Cheat Sheet</td>
  </tr>
  <tr>
    <td>Engagement Toolkit</td>
    <td>rV Case Studies</td>
    <td><a href= "https://jnj.sharepoint.com/teams/rapidValueRealization2/SitePages/Micro-Specials.aspx">rV Playbook</a></td>
  </tr>
</table>
