<% provide(:title, "Home") %>
<div class= "center jumbotron">
  <h1>rVR Engagement Resources</h1>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "static_pages/core">Core Values</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "static_pages/ws_approach">rV WS Approach Cheat Sheet</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href="https://jnj.sharepoint.com/teams/rapidValueRealization2/Shared%20Documents/Forms/AllItems.aspx?csf=1&e=zGM22F&cid=46da1891%2Db918%2D4e46%2Da8a7%2D0a69e83b9f88&FolderCTID=0x012000FD9B5E37B6BB464B899DF5D62FEDB4D2&id=%2Fteams%2FrapidValueRealization2%2FShared%20Documents%2FToolkits%2FLego%20Training%2FDesign%20Source%20Files%2FLT%2Done%2Dpager%2Djourney%2Epdf&parent=%2Fteams%2FrapidValueRealization2%2FShared%20Documents%2FToolkits%2FLego%20Training%2FDesign%20Source%20Files" target="_blank"> rV Approach Cheat Sheet </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
        <a href= "static_pages/resources">  Engagement Toolkit </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          rV Case Studies
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href= "https://jnj.sharepoint.com/teams/rapidValueRealization2/SitePages/Micro-Specials.aspx">rV Playbook</a>
        </div>
      </div>
    </div>
  </div>
</div>
