<% provide(:title, "Toolkit") %>
<h1>Engagement Toolkit</h1>
<p>The links below will link you to templates needed to run your engagement.
   Please download these locally before making any changes.</p>
<ul>
  <li> <a href="https://jnj.sharepoint.com/:w:/r/teams/rapidValueRealization2/_layouts/15/Doc.aspx?sourcedoc=%7B5F1C9835-758F-412A-8C2F-A52FEAA406F1%7D&file=Template%20-%20Workshop%20Brief%20Template_v6.1_BETA.docx&action=default&mobileredirect=true" target="_blank"> Workshop Brief </a> </li>
  <li> <a href="https://jnj.sharepoint.com/:p:/r/teams/rapidValueRealization2/_layouts/15/Doc.aspx?sourcedoc=%7B994ec11e-97f9-460b-9a02-74f8a72897bb%7D&action=edit&uid=%7B994EC11E-97F9-460B-9A02-74F8A72897BB%7D&ListItemId=17571&ListId=%7B97EFE728-B04A-4196-83C4-DF8BEB62458A%7D&odsp=1&env=prod" target="_blank"> Kickoff Deck </a> </li>
  <li> <a href="https://miro.medium.com/max/1838/1*I1ffOWdPWQva3dCMQE-TAQ.png" target="_blank"> Empathy Map Canvas </a></li>
  <li> <a href="https://jnj.sharepoint.com/teams/rapidValueRealization2/Shared%20Documents/Forms/AllItems.aspx?q=learning%20plan&id=%2Fteams%2FrapidValueRealization2%2FShared%20Documents%2FToolkits%2FLego%20Training%2FCustomer%20Value%20Lego%20Training%2FLearning%20Plan%20Canvas%5Fv2%2Epdf&parent=%2Fteams%2FrapidValueRealization2%2FShared%20Documents&parentview=7" target="_blank"> Learning Plan Canvas </a> </li>
  <li> <a href="https://jnj.sharepoint.com/teams/rapidValueRealization2/Shared%20Documents/Forms/AllItems.aspx?q=experiment%20card&id=%2Fteams%2FrapidValueRealization2%2FShared%20Documents%2FToolkits%2FLego%20Training%2FCustomer%20Value%20Lego%20Training%2FExperiment%20Card%20w%20Descriptions%2Epdf&parent=%2Fteams%2FrapidValueRealization2%2FShared%20Documents&parentview=7" target=_blank"> Experiment Card </a> </li>
</ul>
