<% provide(:title, "Our Services") %>
<h1>Our  Services</h1>
<%= image_tag("Services/WS Services.png", :id=> "core", :size=>"1300x900", :align=>"center") %>

<%= image_tag("Services/LT Services.png", :id=> "core", :size=>"1300x900", :align=>"center") %>
