
<% provide(:title, "Workshop Approach") %>
<%= image_tag("WS Approach/ws_matrix.png", :id=> "core", :size=>"1100x575", :align=>"center") %>

<table align = "center">
<tr>
  <th> Quadrants 1-3 </th>
  <th> Quadrants 1 & 2 </th>
  <th> Quadrants 1 & 4 </th>
<tr>
  <th>Basic Pattern</th>
  <th>Discovery Pattern</th>
  <th>Strategy Pattern</th>
</tr>
<tr>
  <td><a href = "/plays/contextualInquiry", target = "_blank"> Contextual Inquiry</a></td>
  <td><a href = "/plays/contextualInquiry", target = "_blank"> Contextual Inquiry</a></td>
  <td> Press Release </td>
</tr>

<tr>
  <td><a href = "/plays/goal", target = "_blank"> Goal Ad-Lib </a></td>
  <td> Customer Stakeholder Map </td>
  <td><a href = "/plays/howMightWe", target = "_blank"> How Might We </a></td>
</tr>

<tr>
  <td><a href = "/plays/empathyMap", target = "_blank"> Empathy Unmet Needs</a></td>
  <td><a href = "/plays/empathyMap", target = "_blank"> Empathy Unmet Needs</a></td>
  <td><a href = "/plays/empathyMap", target = "_blank"> Empathy Unmet Needs</a></td>
</tr>
<tr>
  <td><a href = "/plays/howMightWe", target = "_blank"> How Might We </a></td>
  <td><a href = "/plays/howMightWe", target = "_blank"> How Might We </a></td>
  <td><a href = "/plays/productRoadmap", target = "_blank"> Product Road Map </a></td>
</tr>

<tr>
  <td><a href = "/plays/productRoadmap", target = "_blank"> Product Road Map </a></td>
  <td><a href = "/plays/crazy8", target = "_blank"> Crazy 8's </a></td>
  <td><a href = "/plays/crazy8", target = "_blank"> Crazy 8's </a></td>
</tr>

<tr>
  <td><a href = "/plays/crazy8", target = "_blank"> Crazy 8's </a></td>
  <td><a href = "/plays/solutionArtGallery", target = "blank"> Solution Art Gallery </a></td>
  <td> Value Exchange Mapping </td>
</tr>
<tr>
  <td><a href = "/plays/hypothesisTemplate", target = "_blank"> Hypothesis </a></td>
  <td> Customer Journey </td>
  <td><a href = "/plays/hypothesisTemplate", target = "_blank"> Hypothesis </a></td>
</tr>

<tr>
  <td><a href = "/plays/experimentArtGallery", target = "_blank"> Experiment Art Gallery </a></td>
  <td><a href = "/plays/hypothesisTemplate", target = "_blank"> Hypothesis </a></td>
  <td><a href = "/plays/experimentArtGallery", target = "_blank"> Experiment Art Gallery </a></td>
</tr>

<tr>
  <td><a href = "/plays/kanban", target = "_blank"> KanBan </a></td>
  <td><a href = "/plays/experimentArtGallery", target = "_blank"> Experiment Art Gallery </a></td>
  <td><a href = "/plays/kanban", target = "_blank"> KanBan </a></td>
</tr>

<tr>
  <td></td>
  <td><a href = "/plays/kanban", target = "_blank"> KanBan </a></td>
  <td></td>
</tr>

</table>

<br>
<br>
<p> For the resources needed for the workshop, please visit the <a href = "/static_pages/resources", target = "_blank"> Engagment Toolkit </a></p>
