<!--<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <style>
  h2 {
    color: #1164FC;
    text-align: left-align;
    font-family: helvetica;
    font-weight: bold;
    font-size:20px
  }

body{
  font-family: helvetica;
  font-size: 14px;
}
ol{
  line-height: 2;
}

</style>

</head>
<body>-->
<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>

  <div class="row">
    <div class="col-md-12">
       <!--<div class="video"></div>-->
<h1> VIDEO GOES HERE </h2>

     </div>
   </div>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet rutrum nisl, vitae elementum leo.
        Suspendisse fringilla purus eu velit lobortis dictum. Curabitur nunc enim, congue at odio ut, pellentesque aliquet felis.
        Cras bibendum, massa et pretium viverra, erat diam congue elit, in maximus ante risus vel orci. </p>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
         <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
         <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
         <ul>
           <li>Lorem ipsum dolor.</li>
           <li>Lorem ipsum dolor.</li>
           </ul>
           <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
           </ul>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet rutrum nisl, vitae elementum leo.
           Suspendisse fringilla purus eu velit lobortis dictum. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
       <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet rutrum nisl, vitae elementum leo.
          Suspendisse fringilla purus eu velit lobortis dictum. </li>
       <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet rutrum nisl, vitae elementum leo.
          Suspendisse fringilla purus eu velit lobortis dictum. .</li>
       <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet rutrum nisl, vitae elementum leo.
          Suspendisse fringilla purus eu velit lobortis dictum. </li>
     </ol>
   </div>
 </div>
