<h1>StaticPages#play</h1>


<h2>Explore the Problem</h2>

      <a href = "/plays/howMightWe">
        <h3> How might we </h3>
        </a>

<h2>Define the Value Proposition</h2>

<a href = "/plays/empathyMap">
  <h3> Empathy map </h3>
  </a>

  <a href = "/plays/crazy8">
    <h3> Crazy 8's </h3>
    </a>

<h2>Experiment with Customers</h2>
