
<style>
  h1{
    color:orange;
    text-align: center;
  }

  h4{
    color: orange;
    text-align: center;
  }

table, td, {
  border: 1px solid #ddd;
  text-align: left;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th{
  background-color: #1164FC;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-right: 4px solid #fff;

}

td {
  padding: 10px;
  text-align:left;
  border-bottom: 1px solid #ddd;
}
</style>



<h1>Play Book</h1>

  <div class="row">
    <div class="col-md-12">

<%= image_tag("HomePage/knotToCurve.png", :width=>"100%", :class=> "img-fluid", :alt=> "Knot to Curve") %>

</div>

<div class="row">
  <div class="col-md-3">
    <h4>Does your strategy start with a problem?</h4>
    </div>

    <div class="col-md-3">
      <h4>Is value being created for the customer and the stakeholder?</h4>
      </div>

      <div class="col-md-3">
        <h4>Are you testing assumptions?</h4>
        </div>

        <div class="col-md-3">
          <h4>Does your solution provide value at scale?</h4>
          </div>
          </div>


<table style="width:100%">
  <!--<tr>
    <th>Does your strategy start with a problem?</th>
    <th>Is value being created for the customer and the stakeholder?</th>
    <th>Are you testing assumptions?</th>
    <th>Does your solution provide value at scale?</th>
  </tr>-->
  <tr>
    <th>Explore the Problem</th>
    <th>Define the Value Proposition</th>
    <th>Experiment with Customers</th>
    <th>Scale to Value</th>
  </tr>
</table>


  <table style="width:100%">
    <tr>
      <td>
        <a href = "/plays/goal">
        <h6>Goal</h6>
        </a>
      </td>
      <td>
        <a href = "/plays/solutionArtGallery">
            <h6> Solution Art Gallery </h6>
            </a>
      </td>
      <td>
        <a href = "/plays/hypothesisTemplate">
            <h6> Hypothesis Template </h6>
            </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href = "/plays/howMightWe">
            <h6> How might we </h6>
      </a>
    </td>
      <td>
        <a href = "/plays/kanban">
            <h6> Kanban </h6>
        </a>
        </td>
      <td>
        <a href = "/plays/experimentArtGallery">
            <h6> Experiment Art Gallery </h6>
            </a>
        </td>
    </tr>
    <tr>
      <td>
        <a href = "/plays/crazy8">
            <h6> Crazy 8's </h6>
        </a>
      </td>
      <td>
        <a href = "/plays/productRoadmap">
            <h6> Product Roadmap </h6>
            </a>
          </td>
    </tr>
    <tr>
      <td>
        <a href = "/plays/empathyMap">
          <h6> Empathy map </h6>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href = "/plays/contextualInquiry">
              <h6> Contextual Inquiry </h6>
              </a>
        </td>
    </tr>

  </table>


<!--<h1>StaticPages#play</h1>


<h2>Explore the Problem</h2>

  <a href = "/plays/goal">
      <h3>Goal</h3>
  </a>

  <a href = "/plays/howMightWe">
        <h3> How might we </h3>
  </a>

  <a href = "/plays/crazy8">
      <h3> Crazy 8's </h3>
  </a>

  <a href = "/plays/empathyMap">
      <h3> Empathy map </h3>
    </a>

  <a href = "/plays/contextualInquiry">
        <h3> Contextual Inquiry </h3>
        </a>


<h2>Define the Value Proposition</h2>

<a href = "/plays/solutionArtGallery">
      <h3> Solution Art Gallery </h3>
      </a>

      <a href = "/plays/kanban">
            <h3> Kanban </h3>
            </a>

            <a href = "/plays/productRoadmap">
                  <h3> Product Roadmap </h3>
                  </a>


<h2>Experiment with Customers</h2>

<a href = "/plays/hypothesisTemplate">
      <h3> Hypothesis Template </h3>
      </a>

      <a href = "/plays/experimentArtGallery">
            <h3> Experiment Art Gallery </h3>
            </a>-->
