<h1>StaticPages#play</h1>


<h2>Explore the Problem</h2>

  <a href = "/plays/goal">
      <h3>Goal</h3>
  </a>

  <a href = "/plays/howMightWe">
        <h3> How might we </h3>
  </a>

  <a href = "/plays/crazy8">
      <h3> Crazy 8's </h3>
  </a>

  <a href = "/plays/empathyMap">
      <h3> Empathy map </h3>
    </a>

  <a href = "/plays/contextualInquiry">
        <h3> Contextual Inquiry </h3>
        </a>


<h2>Define the Value Proposition</h2>

<a href = "/plays/solutionArtGallery">
      <h3> Solution Art Gallery </h3>
      </a>

      <a href = "/plays/kanban">
            <h3> Kanban </h3>
            </a>

            <a href = "/plays/productRoadmap">
                  <h3> Product Roadmap </h3>
                  </a>


<h2>Experiment with Customers</h2>

<a href = "/plays/hypothesisTemplate">
      <h3> Hypothesis Template </h3>
      </a>

      <a href = "/plays/experimentArtGallery">
            <h3> Experiment Art Gallery </h3>
            </a>
